* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 10px;
    padding: 10px;
}



section {
    padding: 50px 30px 20px 60px;
    margin-left: 40px;
}

section article {
    background-color: #cccccc;
    width: 500px;
    height: 500px;
}

section article p {
    line-height: 4;
}

div {
    color: red;
}